%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve")
	%path(fill="#{color}" fill-opacity="0.803922" stroke-width="0.2" stroke-linejoin="round" d="M 34.1791,16.3306C 31.6036,16.7816 29.1822,17.6806 26.9982,18.9443L 31.0904,26.0311C 32.4622,25.2374 33.9831,24.6728 35.6008,24.3895L 34.1791,16.3306 Z ")
