%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve")
	%path(fill="#{color}" fill-opacity="0.203922" stroke-width="0.2" stroke-linejoin="round" d="M 31.6667,22.1667L 24.5417,22.1667L 28.5,17.4167L 33.25,17.4167L 31.6667,22.1667 Z ")
