%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve")
	%path(fill="#{color}" fill-opacity="0.603922" stroke-linejoin="round" d="M 58,38C 58,26.9543 49.0457,18 38,18L 38,24C 45.732,24 52,30.268 52,38L 58,38 Z ")
