%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve")
	%path(fill="#{color}" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 26.9167,26.9167C 20.7955,26.9167 15.8333,31.8788 15.8333,38C 15.8333,44.1212 20.7955,49.0833 26.9167,49.0833L 26.9167,26.9167 Z ")
