%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve")
	%path(fill="#{color}" fill-opacity="0.603922" stroke-linejoin="round" d="M 38,44L 43,42L 43,36.5L 38,38.5L 33,36.5L 33,42L 38,44 Z ")
