%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve")
	%path(fill="#{color}" fill-opacity="1" stroke-linejoin="round" d="M 29.5,29L 25.5,29L 38,51L 55,21L 51,21L 38,43.5L 29.5,29 Z ")
