%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve")
	%path(fill="#{color}" fill-opacity="1" stroke-linejoin="round" d="M 38,19L 38,57L 19,57L 19,19L 38,19 Z M 32.3114,43.2166L 30.9812,38.9063L 34.4241,35.9918L 29.9137,35.925L 28.2058,31.75L 26.7485,36.019L 22.25,36.3532L 25.8597,39.0583L 24.7874,43.4399L 28.4757,40.8428L 32.3114,43.2166 Z ")
